<!DOCTYPE html>
<html lang="es" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para crear platos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    {% load static %}
</head>

<body>
    <h1>Crear un Nuevo Menú</h1>
    <form method="POST"> 
        {% csrf_token %} 
        <label>Nombre del Menú:</label> 
        <input type="text" name="nombre" required> 
        <label>Precio:</label> <input type="number" step="0.01" name="precio" required>
        <h3>Seleccionar Platos:</h3> 
        {% for plato in platos %} 
        <input type="checkbox" name="platos" value="{{ plato.id }}"> 
        {{ plato.nombre }} ({{ plato.precio }}€)
        <br> 
        {% endfor %} 
        <button type="submit">Crear Menú</button>
    </form> 
    <a href="{% url 'list_menus' %}">Ver todos los menús</a>
</body>

</html>