<!DOCTYPE html>
<html lang="es" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard del cliente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    {% load static %}
</head>

<body style="display: flex; justify-content: center; height: 100vh; margin: 0;">
    <div style="width: 40%;">
        <h2>Esto es el dashboard del cliente.</h2>
        <div style="display: flex; justify-content: center;">
            <span class="material-symbols-outlined">mode_night</span>
            <input name="terms" id="tema" type="checkbox" role="switch" style="margin-top: 2px;" />
            <span class="material-symbols-outlined">light_mode</span>
        </div>
        <form action="{% url 'add_reserva' %}" method="POST">
            {% csrf_token %}
            <h3>Haz una reserva</h3>
            <label for="fecha">Fecha de la reserva:</label>
            <input type="date" id="fecha" name="fecha" required>
            <label for="hora">Hora de la reserva:</label>
            <input type="time" id="hora" name="hora" required>
            <label for="comensales">Número de comensales:</label>
            <input type="number" id="comensales" name="comensales" required>
            <button type="submit">Reservar</button>
        </form>

        <div style="margin-top: 20px;">
            <h3>Reservas</h3>
            {% if l_reservas %}
            <ul>
                {% for reserva in l_reservas %}
                <li> Fecha de la reserva: {{ reserva.fecha }} Hora: {{ reserva.hora }} Comensales: {{ reserva.num_personas }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No hay Reservas</p>
            {% endif %}
        </div>
        <hr>
        <p>Saldo: {{ saldo }}</p>
        <button id="introducirsaldo"><a style="color: white; text-decoration: none;"
                href="{% url 'add_saldo'%}">Introducir saldo</a></button>
        <hr>
        <p>Servicios Finalizados listos para pagar: </p>
        {% if l_servicios %}
        <ul>
            {% for servicio in l_servicios %}
            {% if not servicio.pagado %}
            <li>Servicio a pagar: ({{ servicio.precio_total }}€)
                <form action="{% url 'pagar_servicio' servicio.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Pagar</button>
                </form>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <p>No hay servicios</p>
        {% endif %}
        <a href="{% url 'historial_servicios' %}">Ver historial</a>
    </div>
    <script src="{% static 'restaurante/app.js' %}"></script>
</body>

</html>