<!DOCTYPE html>
<html lang="es" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard del camarero</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    {% load static %}
</head>
<body style="display: flex; justify-content: center; height: 100vh; margin: 0;">
    <div style="width: 40%;">
        <h2>Esto es el dashboard del camarero.</h2>
        <div style="display: flex; justify-content: center;">
            <span class="material-symbols-outlined">mode_night</span>
                <input name="terms" id="tema" type="checkbox" role="switch" style="margin-top: 2px;" />
            <span class="material-symbols-outlined">light_mode</span>
        </div>

        <h3>Reservas</h3>
        {% if l_reservas %}
        <ul>
        {% for reserva in l_reservas %}
        <li>{{ reserva.usuario }}: {{ reserva.fecha }}: {{ reserva.hora }}</li>
        <button id="crearservicio"><a style="color: white; text-decoration: none;" href="{% url 'add_servicio' reserva.usuario.id %}">Cerar Servicio</a></button>
        {% endfor %}
        </ul>
        {% else %}
        <p>No hay Reservas</p>
        {% endif %}
    </div>
    <script src="{% static 'restaurante/app.js' %}"></script>
</body>
</html>