<!DOCTYPE html>
<html lang="es" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para crear platos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    {% load static %}
</head>
<body style="display: flex; justify-content: center; height: 100vh; margin: 0;">
    <div style="width: 40%;">
        <h2>Editar Plato</h2>
            <div style="display: flex; justify-content: center;">
                <span class="material-symbols-outlined">mode_night</span>
                    <input name="terms" id="tema" type="checkbox" role="switch" style="margin-top: 2px;" />
                <span class="material-symbols-outlined">light_mode</span>
            </div>
        <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="Nombre del plato" id="nombre" name="nombre" value="{{ plato.nombre }}" required>
            <label for="categoria">Categoría</label>
            <select name="categoria">
                <option value="carne" {% if plato.categoria == "carne" %}selected{% endif %}>Carne</option>
                <option value="pescado" {% if plato.categoria == "pescado" %}selected{% endif %}>Pescado</option>
                <option value="vegetariano" {% if plato.categoria == "vegetariano" %}selected{% endif %}>Vegetariano</option>
                <option value="pizzas" {% if plato.categoria == "pizzas" %}selected{% endif %}>Pizzas</option>
            </select>
            <textarea id="descripcion" placeholder="Descripción" name="descripcion" rows="4" required>{{ plato.descripcion }}</textarea>
            <input type="text" placeholder="Precio" id="precio" name="precio" value="{{ plato.precio }}" required>
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
    <script src="{% static 'restaurante/app.js' %}"></script>
    <script>
        // Este script se encarga de reemplazar las comas por puntos en el campo de precio
        document.addEventListener('submit', function(event) {
            var precioField = document.getElementById('precio');
            precioField.value = precioField.value.replace(',', '.');
        });
    </script>
</body>
</html>