<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas las tareas</title>
</head>
<body>
    <div class="contenedor_todos_platos">
        <h1>Todos los platos:</h1>
        {% if platos_list %}
    <ul>
    {% for plato in platos_list %}
        <li><a href="/restaurante/{{ plato.id }}/">{{ plato.nombre }} {{ plato.precio }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No hay platos</p>
    {% endif %}
    </div>
    
</body>
</html>