<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para crear tareas</title>
</head>
<body>
    <form method="post">
        <h2>Iniciar sesión</h2>
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="username" name="nombre">

        <label for="pass">Contraseña:</label>
        <input type="password" id="password" name="password">

        <button id="ingresa" type="submit">Ingresar</button>
        <button id="registro"><a href="{% url 'register_view'%}">Registrate</a></button>

    </form>
    {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
    </body>
</html>