<!DOCTYPE html>
<html lang="es" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagar Servicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    {% load static %}
</head>
<body>
    <div style="width: 40%; margin: auto;">
        <h2>Pagar Servicio</h2>
        <p>Servicio: {{ servicio.id }}</p>
        <p>Precio Total: {{ servicio.precio_total }}€</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Pagar</button>
        </form>
    </div>
</body>
</html>